<ion-header>
  <ion-toolbar color="danger">

    <ion-buttons slot="end">
      <ion-avatar>
        <img style="border-left: 2px solid black;" src="../../../assets/img/2.png" alt="logo">
      </ion-avatar>
    </ion-buttons>
    
    <ion-title style="margin-left: 4px;" class="ToolbarPrincipal">Rutinas para adultos</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

  <body class="contentPrincipal">
  
    <br><h1 class="textoImagen">
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Natus ullam 
      nemo expedita maiores cumque incidunt dignissimos? Fugiat exercitationem 
      quidem sit.
    </h1>

    <br><br>
    <h3 style="margin-bottom: 5px; text-align: center; font-style: italic; color: white;">Aceptas el reto?</h3>
    
    <ion-button class="botonPrincipal" expand="full" color="danger" [routerLink]="['/calendario']">
      <span style="font-size: 18px; padding-bottom: 5px;">Empezar con el entrenamiento</span>
    </ion-button>

  </body>

  
</ion-content>
