<app-header titulo="Rutinas brazos"></app-header>

<ion-content>

  <ion-card>
    <img src="../../../../assets/img/5.png" alt="rutinas para brazos">
    <ion-card-header>
      <ion-card-subtitle style="margin-left: 5px;">Comienza hoy con tu rutina...!</ion-card-subtitle> <br>
      <ion-card-title style="text-align: center;">Rutinas para brazos</ion-card-title>
    </ion-card-header>
  
    <ion-card-content>
      Lorem ipsum dolor sit amet, consectetur adipisicing elit. 
      Repellat atque possimus odio velit? Doloremque architecto consectetur 
      recusandae minima ratione tempora!
    </ion-card-content>

    <ion-button expand="block" color="dark">Empezar</ion-button>

  </ion-card>  


</ion-content>

