<app-header titulo="Cards"></app-header>

<ion-content class="ion-padding">

  <ion-card mode="ios" color="primary">
    <ion-card-header>
      <ion-card-title>Lorem</ion-card-title>
      <ion-card-subtitle>lorem ipsum</ion-card-subtitle>
    </ion-card-header>

    <ion-card-content>
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Minus 
      ex mollitia nemo nesciunt enim iste beatae fuga quae, dicta harum.
    </ion-card-content>
  </ion-card>

  <ion-card mode="md" color="dark">
    <ion-item>
      <ion-icon color="warning" name="pin" slot="start"></ion-icon>
      <ion-label>Marcador</ion-label>
    </ion-item>

    <ion-card-content>
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Minus 
      ex mollitia nemo nesciunt enim iste beatae fuga quae, dicta harum.
    </ion-card-content>
  </ion-card>

  <ion-card>
    <ion-img src="./assets/shapes.svg"></ion-img>
    <ion-card-content>
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Minus 
      ex mollitia nemo nesciunt enim iste beatae fuga quae, dicta harum.
    </ion-card-content>

  </ion-card>


</ion-content>
